*.pyc
.eggs/
.python-version

/GithubCredentials.py
/scripts/TwitterCredentials.py
/dist/
/build/
/MANIFEST
/PyGithub.egg-info/
/.coverage
/coverage.xml
/.idea
/developer.github.com/
/gh-pages/
/doc/doctrees/
.vscode*
.venv
.tox/
.mypy_cache/
venv/